.App {
  text-align: center;
  background-color: aquamarine;
  /* position: absolute; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#contact-img img{
  height: 150px;
  width: 150px;
  border-radius: 30px;
}

card{
  left: 0;
    max-height: 563px;
    overflow: hidden;
    overflow-y: scroll;
}

#contact-info{
  display: flex;
  justify-content: space-evenly;
}

#contact-img{
  background-color: white;
  width: 300px;
  border-radius: 10px;
}

#carousel-img{
  height: 200px;
}

.carousel{
  padding-top: 27.00px;
}


.my-pic{
  /* height: 95%; */
  width: 80%;
}

@media only screen and (min-width: 800px) {
  main{
    display: flex;
  }
  /* #nav-bar{
    position: fixed;
    color: aqua;
  } */
}
/* main{
  display: flex;
} */

#project-card{
  /* flex-direction: column; */
  display: flex;
  justify-content: space-evenly;
}

div#basic-navbar-nav.navbar-collapse.collapse{
  flex-direction: row-reverse;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
